.screen {
    background-color: lightcyan;
    height:120px;
    width: 400px;
    margin:10px;
    text-align: right;
    font-size:100px;
    font-family: 'monospace';
}

body {
    background-color: antiquewhite;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #222832;
    width:440px;
    height: 700px;
}

.column{
    display:flex;
    align-items: center;
}

button {
    width: 100px;
    height: 100px;
    margin: 0px;
    background-color: #EEEEEE;
    border-radius: 7px;
    font-size:32px;
    font-family: 'monospace';
}

.calculator-number:hover{
    background-color: #c7c7c7;
}

.large-button {
    width: 200px;
    flex: 2;
}
.operator{
    background-color: #00ADB5;
}

.operator:hover{
    background-color: #58ced6;
}


.equals{
    background-color:coral;
}

.equals:hover{
    background-color:rgb(255, 159, 125);
}

.special{
    background-color: #393E46;
    color:white
}

.special:hover{
    background-color: #5d6570;
}